.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin-top: -75px;
    h1 {}
    p {
        margin-top: 5px;
    }
    a {
        margin-top: 60px;
        display: flex;
  align-items: center;
  border: 1px solid #ddd;
  justify-content: center;
  width: 210px;
  border-radius: 30px;
  cursor: pointer;
  min-width: 100px;
  padding: 20px 20px;
  text-align: center;
  &:hover {
    background-color: black;
    transition: all 0.15s ease-in-out;
      color: white;
  }
    }
}