.categories {
  &__wrapper {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      white-space: nowrap;
      margin: 30px 0px;
      li {
        background-color: #f9f9f9;
        padding: 13px 30px;
        border-radius: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        margin: 0px 12px 4px 0px;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        &:last-child {
          margin: 0px 0px 4px 0px;
        }

        &:hover {
          background-color: darken(#f9f9f9, 2%);
        }

        &.active {
          background-color: #282828;
          color: #fff;
        }
      }
    }
  }
}
