.sort {
  margin-top: 15px;
  &__label {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    b {
      margin-right: 20px;
    }
    span {
      cursor: pointer;
      border-bottom: 1px dashed #8b8b8b;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &.active {
        color: #9d84cc;
      }
    }
  }
}
